<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30001" type="select" id="race_language" values="english|japanese" default="english"/>
		<setting label="30002" type="select" id="race_dark_filter_level" values="0|5|10|15|20|25|30|35|40|45|50" default="0"/>
	</category>
</settings>
